*.ncb
*.user
*.suo
*.pyc
*.pyd

.DS_Store

/.vscode/settings.json

/bin
/dist
/build
/npcolony.egg-info
/src/python/npcolony*.so
/src/python/npcolony.egg-info
/scripts/npcolony.*
/scripts/build
/scripts/npcolony
/win32/vs2008ex/*/*
/darwin/xcode4/colony_npapi.xcodeproj/xcuserdata
/darwin/xcode4/colony_npapi.xcodeproj/project.xcworkspace/xcuserdata
